<div>
    <h1>Besvarelse</h1>
    <div data-bind="visible: currentActivity() == null">
        <ul data-bind="foreach: activities">
            <li>
                <a href="#" data-bind="text: course_name, click: $parent.getEvaluation"></a>
            </li>
        </ul>
    </div>

    <div class="col-sm-12" data-bind="visible: currentActivity() != null">
        <h3>
            <div data-bind="with: currentActivity">
                Evaluering for
                <span data-bind="text: $data.course_name"></span>
            </div>
        </h3>
        <ol class="list-group" data-bind="foreach: questions">
            <li class="col-sm-12 list-group-item">
                <span class="col-sm-9" data-bind="text: $data.question"></span>
                <span class="col-sm-3" data-bind="foreach: $parent.answerOptions">
                    <input type="radio" data-bind="value: key, attr : {name: $parent.id}, checked: $parent.answer" />
                    <span data-bind="text: value"></span>
                </span>
            </li>
        </ol>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <span class="text-danger" data-bind="visible: error() != null, text: 'Besvar alle spørgsmål før du afslutter.'"></span>
        <br />
        <button class="btn" data-bind="click: submitAnswers">Klik for at besvare</button>
        <br />
        <br />
        <button class="btn" data-bind="click: back">Tilbage</button>
    </div>
</div>
</div>
</div>